.pieces {
    right: 0;
    top: 0;
    position: absolute;
    left: calc(.25*var(--tile-size));
    bottom: calc(.25*var(--tile-size));
}

.piece {
    width: 12.5%;
    height: 12.5%;
    background-size: 100%;
    position: absolute;
}

.piece.bk {background-image: url('../../assets/bk.png');}
.piece.bq {background-image: url('../../assets/bq.png');}
.piece.br {background-image: url('../../assets/br.png');}
.piece.bb {background-image: url('../../assets/bb.png');}
.piece.bn {background-image: url('../../assets/bn.png');}